$primary-color:#7928ec;
$success-color:#4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;
$secondary-color: #f5f5fc;
$primary-font-color: #000000;
$accent-color: #4c8d29;
$light-color: #ffffff;
$primary-gradient:linear-gradient(330deg,#00bcd4,#2196f3);
$primary-button-shadow:#1b9cee9e;
$transparency: rgba(0,0,0,0.12);
$primary-hover: #005a91;
//fonts
$title-font: 'Poppins', sans-serif;
$title-size:2.56rem;
$sub-title-size:1.6rem;
$primary-font: 'Poppins', sans-serif;

$card-shadow: 2px 2px 16px rgba(0,0,0,0.12);
$button-shadow: 1px 1px 8px rgba(0,0,0,0.12);

$border-radius: 8px;
$button-radius: 8px;


//layout
$padding-val:0 7.5vw;
$section-padding: 10vh 7.5vw;